page {
  background: #f5f5f5;
}

.join-us-form {
  width: 100%;
  padding: 30px;
  margin-bottom: 50px;

  .form-card {
    background: #fff;
    border-radius: 14px;
    padding: 40px 30px;
    margin-top: 30px;

    .form-title {
      font-size: 30px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #000;
    }

    .at-form::after {
      border-bottom-width: 0;
    }

    .form-data {
      margin-top: 50px;

      .at-input {
        margin-left: 0;
      }

      .at-input__title {
        font-size: 26px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #666;
      }

      .at-input input {
        font-size: 26px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #000;
      }
    }
  }

  .btn {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 30px;
    width: 100%;
    background-color: #fff;

    .btn-join {
      width: 100%;
      background: linear-gradient(90deg, #fad000, #faa500);
      border-radius: 14px;
      font-size: 32px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #fff;
      border: none;
    }
  }
}
