.btn {
  width: 100%;
  background: linear-gradient(90deg, #fad000, #faa500);
  border-radius: 14px;
  font-size: 32px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #fff;
  border: none;
}
