.order-card {
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  padding: 30px;

  .title1 {
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: bold;
    font-style: italic;
    color: #f12a2a;
  }

  .title2 {
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: bold;
    font-style: italic;
    color: #fad000;
  }

  .card {
    margin-top: 30px;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 14px;

    .tag {
      .tag-icon {
        position: absolute;
        width: 128px;
        height: 38px;
      }

      .tag-info {
        position: absolute;
        font-size: 22px;
        font-family: PingFang SC;
        line-height: 38px;
        color: #fff;
        margin-left: 20px;
      }
    }

    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 200px;

      .left {
        width: 300px;
        height: 100%;

        .cover {
          width: 100%;
          height: 100%;
          border-top-left-radius: 14px;
          border-bottom-left-radius: 14px;
        }
      }

      .right {
        max-width: 50%;
        padding: 15px;
        height: 100%;

        .info {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .name {
            font-size: 24px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #000;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .num {
            font-size: 20px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #999;
          }

          .order-count {
            font-size: 20px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #000;

            .sub-count {
              color: #999;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }

  .date {
    margin-top: 30px;

    .time {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .label {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #010101;
      }

      .value {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #999;
      }

      .timer {
      }
    }
  }

  .doing {
    margin-top: 30px;
    border-top: 1px solid #efefef;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-1 {
      display: flex;
      align-items: center;

      .wexinpay-icon {
        width: 28px;
        height: 25px;
      }

      .wexinpay-text {
        font-size: 24px;
        font-family: PingFang SC;
        color: #000;
        margin-left: 14px;
      }
    }

    .right-1 {
      .at-button--small {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #09bb07;
        padding: 0 56px;
      }

      .at-button--secondary {
        color: #09bb07;
        border: 1px solid #09bb07;
        background-color: #fff;
      }
    }
  }

  .closed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #efefef;
    padding-top: 30px;
    font-size: 24px;
    font-family: PingFang SC;
    color: #fad000;
  }

  .fulled {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #999;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    border-top: 1px solid #efefef;
    padding-top: 30px;
  }

  .failed {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #efefef;
    padding-top: 30px;

    .to-coupon-page {
      font-size: 24px;
      font-family: PingFang SC;
      color: #fad000;
      font-weight: 400;
    }
  }

  .success {
    margin-top: 30px;
    border-top: 1px solid #efefef;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        width: 22px;
        height: 24px;
      }

      .text {
        font-size: 24px;
        font-family: PingFang SC;
        color: #fad000;
        margin-left: 10px;
      }
    }

    .right-2 {
      .code-btn {
        background-size: 100% 100%;
        background-image: url('https://ydhl-assets.oss-cn-beijing.aliyuncs.com/images/mall/app-order/%E7%9F%A9%E5%BD%A2%2024%402x.png');
        width: 206px;
        height: 58px;
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #fff;
        text-align: center;
        line-height: 58px;
      }

      .used-text {
        font-size: 24px;
        font-family: PingFang SC;
        color: #999;
      }
    }
  }

  .qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
