.goods-list-card {
  .goods-list-1 {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .goods-item-1 {
      padding: 0 10px;
      margin-top: 30px;
    }
  }
}
