page {
  background: #f5f5f5;
}

.b-writeoff-record {
  width: 100%;
  padding: 30px;

  .bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 40px;
    background-color: #fff;

    .b-writeoff-btn {
      background: linear-gradient(90deg, #fad000, #faa500);
      border-radius: 14px;
      font-size: 32px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #fff;
      border: none;
    }
  }
}
