.index {
  width: 100%;
  background: #f5f5f5;

  .head {
    background-color: #fff;
    padding: 20px 30px;

    .head-image {
      width: 690px;
      height: 248px;
    }

    .tip-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 36px 0;

      .tip-item {
        display: flex;
        align-items: center;

        .img {
          width: 28px;
          height: 28px;
        }

        .label {
          font-size: 22px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #999;
          line-height: 24px;
          margin-left: 10px;
        }
      }
    }
  }
}
