.bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px 40px;

  .btn {
    background: linear-gradient(90deg, #fad000, #faa500);
    border-radius: 14px;
    font-size: 32px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #fff;
    border: none;
  }
}
